{{> HTMLHeader}}
  <title>My Account | Codecademy</title>
</head>
<body  class="accountPage">
  {{> loggedInNavbar}}

  <div class="mainContent container-fluid">
    <!-- Page Header -->
    <div class="pageTitle row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 float-right">
        <h1>My Account</h1>
      </div>
    </div>

    <!-- User information -->
    <!-- User information -->
    <div class="userInfo row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <ul>
          <li id="li1"><h5><a href="/account">Basic Information</a></h5></li>
          <li><h5><a href="#">Change Password</a></h5></li>
          <li><h5><a href="#">Mail Settings</a></h5></li>
          <li><h5><a href="#">Linked Accounts</a></h5></li>
          <li><h5><a href="#">Delete Account</a></h5></li>
        </ul>
      </div>
      <div class="forms col-lg-8 col-md-8 col-sm-8 col-xs-12 float-right">
        <h3>Basic Information</h3>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" class="form-control" type="text" value="{{ user.name }}" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="email">Email (required)</label>
              <input id="email" class="form-control" type="text" value="{{ user.email }}" placeholder="Email (required)">
            </div>
            <div class="form-group">
              <label for="username">Username (required)</label>
              <input id="username" class="form-control" type="text" value="{{ user.username }}" placeholder="Username (required)">
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              <input id="location" class="form-control" type="text" value="{{ user.location }}" placeholder="Location">
            </div>
            <div class="form-group">
              <label for="language">Language</label>
              <select class="form-control" id="language">
                <option>English</option>
                <option>Español</option>
                <option>Français</option>
                <option>Português</option>
              </select>
            </div>
            <div class="form-group">
              <label for="aboutMe">About Me</label>
              <textarea class="form-control" id="aboutMe" rows="4" placeholder="About Me">{{ user.aboutMe }}</textarea>
            </div>
            <div class="form-group">
              <label for="website">Website</label>
              <input id="website" class="form-control" type="text" value="{{ user.website }}"  placeholder="Website">
            </div>
            <div class="form-group">
              <label for="gitHub">GitHub</label>
              <input id="gitHub" class="form-control" type="text" value="{{ user.gitHub }}"  placeholder="GitHub">
            </div>
            <div class="form-group">
              <label for="twitter">Twitter</label>
              <input id="twitter" class="form-control" type="text" value="{{ user.twitter }}"  placeholder="Twitter">
            </div>
            <div class="form-group">
              <label for="linkedInUrl">LinkedIn Url</label>
              <input id="linkedInUrl" class="form-control" type="text" value="{{ user.linkedinURL }}"  placeholder="LinkedIn Url">
            </div>
            <div class="form-group">
              <label for="linkedInUrl">Profile Picture</label><br>
              <img src="{{ user.profilePicture }}">
              <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            </div>
            <div class="form-check">
              <label>Who can view my profile</label><br>
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Codecademy Users
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                Everyone
              </label>
            </div>
            <button type="submit" class="btn btn-danger">UPDATE PROFILE</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{{> footer}}
{{> legal}}
</body>
{{> HTMLFooter}}
